# Environment
.env
.env.local
.env.*.local

# Node / Frontend
node_modules/
dist/
build/
.eslintcache

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
.tox/
.coverage
.cache
*.egg-info
.project

# Databases
*.sqlite3

# OS
.DS_Store
Thumbs.db

#Excercises
excercises/

